:root {
    --calculator-bg: #333;
    --button-bg: #666;
    --operation-bg: #f90;
    --equals-bg: #09f;
    --clear-bg: #e00;
    --text-color: #fff;
    --border-color: #888;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #4CAF50, #8BC34A);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid var(--border-color);
    outline: none;
    background-color: var(--button-bg);
    color: var(--text-color);
    transition: background-color 0.1s ease-in-out;
}

.calculator-grid > button:hover {
    background-color: #777;
}

.span-two {
    grid-column: span 2;
}

[data-operation] {
    background-color: var(--operation-bg);
}

[data-operation]:hover {
    background-color: #ffb84d;
}

[data-equals] {
    background-color: var(--equals-bg);
}

[data-equals]:hover {
    background-color: #4dc2ff;
}

[data-all-clear] {
    background-color: var(--clear-bg);
}

[data-all-clear]:hover {
    background-color: #ff4d4d;
}

.output {
    grid-column: 1 / -1;
    background-color: var(--calculator-bg);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: var(--text-color);
    font-size: 2.5rem;
}
